---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-url: "/assets/fonts/232MKSD_RoundLight.ttf";
$base-font-family: MKSDRoundLight, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$title-font-url: "/assets/fonts/232MKSD_RoundMedium.ttf";
$title-font-family: MKSDRound, Arial, sans-serif;
$title-font-size: 36px;
$title-font-height: 1.5;

$spacing-unit:     30px;

$text-color:       white;
$background-color: black;
$brand-color:      #CEEF00; 

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;


@font-face {
    font-family: MKSDRound; 
    src: url($title-font-url);
}

@font-face {
    font-family: MKSDRoundLight; 
    src: url($base-font-url);
}

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "home_layout"

        // I won't put my code here, no need for 
        // syntax-highlighting
        //"syntax-highlighting" 
;
