.research {
    

    
    .title-1 {
      margin-left: 0px;
      
      h3 {
        color: white;
        line-height: 42px;
        padding-left: 10px;
        background-color: #B57A7A;
      }
    }

    .project {
      margin-bottom: 30px;
    }

}